*{
    margin: 0;
    padding: 0;
    font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
html,body{
    height: 100%;
    width: 100%;
}
nav{
    height: 6vh;
    width: 100%;
    background-color: #fff;
    position: relative;
    display: flex;
    align-items: center;
    
}
.logo img{
    height: 3vh;
    padding: 0px 0 0px 8.2vw;
}
.items-cantainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 34vw;
}
.nav-items{
    height: 12vh;
    width: 33%;
    margin: 0.9vw;
    display: flex;
    align-items: center;
    flex-direction: row;
    /* background-color: royalblue; */
    gap: 2em;
}
.nav-items li{
  font-size: 0.8em;
  list-style-type: none;
}
.nav-items li a{
    text-decoration: none;
    list-style-type: none;
    color: #000;
  }
.nav-items li:hover{
    text-underline-offset: 1;
  }
.nav-items2{
    height: 12vh;
    width: 33%;
    margin: 0.9vw;
    display: flex;
    align-items: center;
    flex-direction: row;
    /* background-color: royalblue; */
    gap: 2em;
}
.nav-items2 li{
    font-size: 0.8em;
    list-style-type: none;
  }
  .nav-items2 li a{
    text-decoration: none;
    list-style-type: none;
    color: #000;
  }
.bar{
    height: 6vh;
    width: 100%;
    background-color: #0067b8;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;

}
.bar h4{
    font-weight:550;
    line-height: 24px;
    font-size: 16px;
}
.home-img{
    height: calc(100% - 24vh);
    width: 100%;
    position: relative;
    display: flex;
    justify-content: end;
    /* align-items: center; */
}
.home-img img{
position: absolute;
z-index: -1;
display: flex;
    justify-content: center;
    align-items: center;
}
.home-right-side{
    width:40%;
    height: 62vh;
    /* background-color: lightcyan;; */
    display: flex;
    flex-direction: column;
    position: absolute;
    align-items: start ;
    justify-content: center;
    line-height: 5.5vh;
}

.home-right-side h3{
    font-size: 3.5vh;
    font-weight: 600;
}
.home-right-side .Learn-more-a{
    background-color: #0067b8;
    border: none;
    border-radius: 1px;
    color: #fff;
    font-weight: 550;
    font-size: 1em;
    padding: 0 0.5vw;
}
.home-img-sec{
    height: calc(100% - 24vh);
    width: 100%;
    position: relative;
    display: flex;
    justify-content: start;
    align-items: center;
}
.home-img-sec img{
    width: 100%;
    height: 74vh;

    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.home-left-side{
    width: 50%;
    height: 74vh;
    display: flex;
    flex-direction: column;
    position: absolute;
    align-items: center;
    justify-content: center;
    
}
.home-left-side h3{
    font-size: 3.5vh;
    width: 55%;
    font-weight: 800;
    line-height: 5.5vh;
}
.home-left-side p {
    width: 55%;
    font-weight: 600;
    /* line-height: 4.5vh; */
}
 .Learn-more-a{
    
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1em 0;
    background-color: #0067b8;
    border: none;
    border-radius: 1px;
    color: #fff;
    font-weight: 550;
    font-size: 1em;
    padding: 0.7vh 0.8vw;
}

/* icons */

.icons{
    height: 40vh;
    width: 100%;
    background-color: red;
    position: relative;
    display: flex;
}
.icons-items {
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.icons-items img{
    height: 3em;
}